<ul>
        <li><a [routerLink]="[ '/admin', 'users' ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Usuarios</a></li>
        <li><a [routerLink]="[ '/admin', 'users', 'user-register' ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">User register</a></li>
        <li><a [routerLink]="[ '/admin', 'vinculacion']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Vinculacion</a></li>
        <li><a [routerLink]="[ '/admin', 'comisiones']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Comisiones</a></li>
        <li><a [routerLink]="[ '/admin', 'comisiones', 'comisiones-register']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Comisiones register</a></li>
        <li><a [routerLink]="[ '/admin', 'productividad']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Productividad</a></li>
</ul>