<form 
    class="form form-login"
    [formGroup]="formData"
    (ngSubmit)="onSubmit()"
>
    <h1>Login</h1>

    <div class="form-content">
        <div class="field">
            <label for="username">Username *</label>
            <input type="text" formControlName="username" id="username" placeholder="Ej: mi@correo.co">
        </div>
        <div class="field">
            <label for="password">Password *</label>
            <input type="password" formControlName="password" id="password" placeholder="Ej: Password123*">
        </div>
        <div class="field">
            <button type="submit">Login</button>
        </div>
    </div>
</form>