.logos{
    display: flex;
    gap: .5rem;
}
.site-logo{
    max-width: 3rem;
    width: 100%;
}

nav{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem 1rem 2rem;
    height: 2rem;
    top: 0;
}

.main-menu{
    display: flex;
    justify-content: center;
    gap: 19rem;
    align-items: center;
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: blue;
}