<nav>
    <a routerLink="/" class="logos">
        <img src='assets/images/vantage.png' alt="Site logo: Vantage" class="site-logo">
        <img src='assets/images/image-removebg-preview.png' alt="Site logo: Onest" class="site-logo">
    </a>
    <ul class="main-menu">
        <li><a routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Portal</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    </ul>
</nav>
